<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Short successfully uploaded</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2>Share your short!</h2>
			<h1><a href="shorts/<%= @short.permalink %>">shorts/<%= @short.permalink %></a></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 friend-numbers">
			<label id="invite">Invite</label><span class="glyphicon glyphicon-plus"></span><button type="submit" class="btn btn-default send-button">Send</button>
			<div class="numbers">
    			<input type="tel" class="form-control phone-numbers" name="picture_ids[]" placeholder="(888) 888-888"></br>
    		</div>
		</div>
		
	</div>


</div>

<script>

	$('.glyphicon-plus').on('click', function(){
		$('.numbers').prepend('<input type="tel" class="form-control phone-numbers" name="picture_ids[]" placeholder="(888) 888-888"></br>')
	});

	$('.send-button').on('click', function(){
		var numbersArray = []
		for(var i=0; i < $('.phone-numbers').length; i++){
			numbersArray.push($('.phone-numbers')[i].value)
			console.log($('.phone-numbers')[i].value)
		}
		
		$.post('send_short', {numbers: numbersArray})

	});
	
	
</script>


