<div class="col-md-6 col-md-offset-3">


	<form id="upload-photo-form" action="/shorts" method="POST">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		<input class="form-control" type="text" name="name" placeholder="Name your short!">
		<div id="picture">
			<button class="submit-button btn btn-default">Submit</button>
			<div id="uploaded-pictures">
				
			</div>
		</div>

	</form>



</div>

<script>
	var zone = new FileDrop("picture");

	zone.event('send', function (files) {
  // FileList might contain multiple items.
  		files.each(function (file) {
    		
    		var fd = new FormData();
    		var userId = <%= session[:id] %>;
    		var signature = "<%=  @signature %>";
    		var generatedFileName = userId + '_' + $.now();

			fd.append('type', 'image');
			fd.append('name', generatedFileName);
			fd.append('file', file.nativeFile); // <= here's where that HTML5 file handle goes

			$.ajax({
				url: 'http://api.astra.io/v0/public/diogeneshamilton/shorts?hmac=' + signature,
				type: 'POST',
				data: fd,
				contentType: false,
				processData: false,
				
				success: function(response) { 
					$.ajax({
						url: '/pictures',
						type: 'POST',
						data: {'original_filename': response.data.name},

						success: function(response) {
							
							$('#uploaded-pictures').append('<a href="#" onclick="return launchEditor(\''+response.id+'\', \''+response.image_url+'\');"><img id="'+response.id+'" src="'+ response.image_url + '"  style="height: 200px;"></a>');
							// $('#uploaded-pictures').append('<a href="#" onclick="return launchEditor(\''+response.id+'\', \''+response.image_url+'\');"><button>Edit!</button></a>')
							$('#upload-photo-form').append('<input type="hidden" name="picture_ids[]" value="'+ response.id + '">')
						}
					});

					console.log('complete'); 
				}
			});


  		})
	})
	$('input.fd-file').addClass('btn btn-default');
	$('.glyphicon-cloud-upload').addClass('clicked');


	var featherEditor = new Aviary.Feather({
        apiKey: '98c31e39a24b8caf',
        apiVersion: 3,
        tools: [,'text','stickers','draw','effects'],
        onSave: function(imageID, newURL) {
            var img = document.getElementById(imageID);
            img.src = newURL;
       		$.ajax({
       			url: '/pictures/' + imageID, 
       			type: 'PUT',
       			data: {picture_id: imageID, url: newURL}
       		})
        },
        postUrl: '/pictures'
    });

    function launchEditor(id, src) {
        featherEditor.launch({
            image: id,
            url: src
        });
        return false;
    }


</script>

		<!-- Add an edit button, passing the HTML id of the image
		    and the public URL to the image -->


		<!-- original line of HTML here: -->
	
