<div class="col-md-6 col-md-offset-3">

	
	<form action="/shorts" method="POST">
		<input type="text" name="name">
		<input type="hidden" name="picture_ids[]">
		<div id="picture">
			<p>Select Photo</p>
		</div>
		<button>Submit</button>
	</form>

	
</div>