<div class="col-md-6 col-md-offset-3">

	
	<form action="/shorts" method="POST">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		<input type="text" name="name">
		<input type="hidden" name="picture_ids[]">
		<div id="picture">
			<p>Select Photo</p>
			<div id="uploaded-pictures">
				
			</div>
		</div>
		<button>Submit</button>
	</form>

</div>

<script>
	var zone = new FileDrop("picture");

	zone.event('send', function (files) {
  // FileList might contain multiple items.
  		files.each(function (file) {
    		
    		var fd = new FormData();
    		var userId = <%= session[:id] %>;
    		var signature = "<%=  @signature %>";
    		var generatedFileName = userId + '_' + $.now();

			fd.append('type', 'image');
			fd.append('name', generatedFileName);
			fd.append('file', file.nativeFile); // <= here's where that HTML5 file handle goes

			$.ajax({
				url: 'http://api.astra.io/v0/public/diogeneshamilton/shorts?hmac=' + signature,
				type: 'POST',
				data: fd,
				contentType: false,
				processData: false,
				
				success: function(response) { 
					$.ajax({
						url: '/pictures',
						type: 'POST',
						data: {'original_filename': response.data.name},

						success: function(response) {
							debugger
							$('#uploaded-pictures').append();
						}
					});

					console.log('complete'); 
				}
			});


  		})
	})
</script>