<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<%= @short.name %>
		</div>

	</div>

	<div>
		<div class="album">
			<ul>
				<% @short.pictures.each do |pic| %>
					<li class="col-md-3 short-picture">
						<img src="<%= pic.image_url %>">
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
