
<section id="user-profile" class="text-center">
  <h1><%=@user.email%></h1>
  <img id="user-profile-image" src="/default_profile.jpg" alt="">

  <%@shorts.each do |short|%>
    <section class="album">
      <a href="/shorts/<%=short.permalink%>"><h3><%= short.name %></h3><a>
       <img src="/<%=short.collage%>" alt="">
    </section>
  <%end%>

  
</section>

<script>
  $('.glyphicon-user').addClass('clicked');
</script>
