<h1>Choose photos</h1>


<section id="upload-reel">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">

</section>

<%= render 'layouts/check_menu' %> 
