<h1>Choose photos</h1>


<section id="upload-reel">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">
  <img src="/squarex.jpg" alt="">

</section>

<nav id="check-menu" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

    <ul>
      <li class="col-xs-6"><a href="#">
        <span class='glyphicon glyphicon-remove'></span>
      </a></li>

      <li class="col-xs-6"><a href="#">
        <span class='glyphicon glyphicon-ok'></span>
      </a></li>  

    </ul>

  </div>
</nav>