/* #menu-bottom */

span {
	font-size: 3em;
	color: salmon;
}
#menu-bottom ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#menu-bottom ul li {
	display: inline;
	padding: .75em 0 .75em 0;
}


/* signup page */
#signup-page {
	background-image: url('/cover-abstract-50.jpg');
	height: 1500px; /* gotta fix this  !!!!!!!!!!!!!! */=
}


