/* #menu-bottom */

span {
	font-size: 3em;
	color: salmon;
}

#menu-bottom ul li a span:hover { /* makes buttons chagne color upon hover */
	color: gold;
}

#menu-bottom ul { /* REPEATed in #upload-menu */
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#menu-bottom ul li {
	display: inline;
	padding: .75em 0 .75em 0;
}





body {
	background-image: url('/cover-abstract-50.jpg');
	height: 100%; /* gotta fix this  !!!!!!!!!!!!!! */=
}



/* upload page */
#upload-reel img {
	text-align: center;
	height: 11em;
}

#upload-reel img:hover {
	opacity: 0.5;
	cursor: pointer;
}

/* check menu */
#check-menu {
	margin-bottom: 4.75em;

}
#check-menu ul {
	list-style-type: none;
	text-align: center;
}
#check-menu ul li {
	display: inline;
	padding-right: 4em;
}

#check-menu .glyphicon-remove {
	color: firebrick;
}
#check-menu .glyphicon-remove:hover {
	color: red;
}

#check-menu .glyphicon-ok {
	color: green;
}
#check-menu .glyphicon-ok:hover {
	color: springgreen;
}




/* shorts page */


.album {
	background-color: rgba(240, 128, 128, 0.5);
	border-radius: 5em;
	text-align: center;
}


/* main */
.invisible-block {
	height: 5em;
}




























