
/* #menu-bottom */

span {
	font-size: 3em;
	color: lightpink;
}

#menu-bottom ul li a span:hover { /* makes buttons chagne color upon hover */
	color: gold;
}

#menu-bottom ul { /* REPEATed in #upload-menu */
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#menu-bottom ul li {
	display: inline;
	padding: .75em 0 .75em 0;
}

#logo {
	height: 4.5em;
	margin: 0.5em;
}
/*general*/

#logout-button {
	float: right;
	margin-top: 2%;
}

#signup-page {
	margin-top: 3%;
}

.clicked {
	color: indianred;
}

body {
	background-image: url('/cover-abstract-50.jpg');
	color: darkred !important;
	font-family: avenir !important;
}

input {
	border-radius: 0.2em !important;
}

input[name="name"] {
	margin-top: 20px;
	margin-bottom: 20px;
}

input[type="file"] {
	width: 100%;
}


button {
	border-radius: 0.2em !important;
}

.submit-button {
	margin-top: 20px;
	width: 200px;
	margin-left: 30%;
}


/* upload page ---- OLD*/ 
#upload-reel img {
	text-align: center;
	height: 11em;
}

#upload-reel img:hover {
	opacity: 0.5;
	cursor: pointer;
}

/* upload page -- NEW */
.form-control {
	height: 2em !important;
	font-size: 3em !important;
	text-align: center;
}

#uploaded-pictures {
	margin-top: 20px;
}

.create-short {
	margin-bottom: 80px;
}




/* check menu */
#check-menu {
	margin-bottom: 4.75em;

}
#check-menu ul {
	list-style-type: none;
	text-align: center;
}
#check-menu ul li {
	display: inline;
	padding-right: 4em;
}

#check-menu .glyphicon-remove {
	color: firebrick;
}
#check-menu .glyphicon-remove:hover {
	color: red;
}

#check-menu .glyphicon-ok {
	color: green;
}
#check-menu .glyphicon-ok:hover {
	color: springgreen;
}




/* shorts page */


.album {
	background-color: rgba(240, 128, 128, 0.5);
	border-radius: 0.2em;
	text-align: center;
	margin-top: 10px;
	
}

.album:hover {
	cursor: pointer; 
}

.album img {
	width: 90%;
	margin: 1em 0 1em 0;
}

.album ul {
	list-style: none;
}

#shorts-main section.album {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* main */
.invisible-block {
	height: 5em;
}
.invisible-block.bottom {
	height: 8em;
}

.glyphicon-share {
	color: indianred;
}



.submit-button {
	margin-bottom: 8em;
}

#short-creation-message {
	background-color: rgba(255,255,255,0.75);
	border-radius: 1em;
}

/* short created */
.friend-numbers button {
	margin: 0.5em;
	font-size: 2em;
}
.friend-numbers .send-button {
	float: right;
}

.delete-button {
	margin-top: 10px;
}



/* profile image */

#user-profile-image {
	border-radius: 50%;
}

.clear-both {
	clear:both;
}

.display-block {
	display:block;
}
















