

<nav id="menu-bottom" class="navbar navbar-default navbar-fixed-bottom" role="navigation">

  <div class="container">
    <a href="#">
      <span class='glyphicon glyphicon-user'></span>
    </a>

    <a href="#">
      <span class='glyphicon glyphicon-cloud-upload'></span>
    </a>

    <a href="#">
      <span class='glyphicon glyphicon-share'></span>
    </a>
  </div>
  
</nav>