

<nav id="menu-bottom" class="navbar navbar-default navbar-fixed-bottom" role="navigation">

  <div class="container">
    <ul>
      <li class="col-xs-6"><a href="/users/<%=session[:id]%>">
        <span class='glyphicon glyphicon-user'></span>
      </a></li>

      <li class="col-xs-6"><a href="/shorts/new">
        <span class='glyphicon glyphicon-cloud-upload'></span>
      </a></li>

    </ul>
    
  </div>

</nav>


  

