<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <a href="/">
      <img id="logo" src="/logo.png" alt="">
      <img src="/title-test.png" alt="">
      <%if session[:id]%>
        <a href="/logout" method="POST"><button id="logout-button" class="btn btn-default">Log out</button></a>
      <%end%>
    </a>
  </div>
</nav>

