<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div style="background-image: url('/title-test.png')"></div>
    <img src="/title-test.png" alt="">
  </div>
</nav>
